<table>
<% var i; for(i=0; i<quizes.length; i++) { %>
    <tr>
        <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
    </tr>
<% } %>
</table>
<br />
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<br />
<hr />
<br />
<h3>Si lo prefieres, puedes hacer una búsqueda</h3>
<br />
<form method="GET" action="/quizes">
    <label>Texto a buscar</label>
    <input type="text" name="search" />
    <input type="submit" value="enviar" />
</form>
